.field {
  margin-top: 10px;
}

.form {
  min-width: 500px;
}

label {
  display: block;
}

input {
  display: inline;
}

.info-box {
  margin-top: 5px;
}

input.ng-invalid{
  border-left: 5px solid red;
}

