<!--suppress TypeScriptUnresolvedFunction -->
<div class="record-item">
  <div class="record-text">
    <span class="record-label"> {{record.stationId}} </span>
    <span class="tag is-light is-medium first-element">Date: {{ record.date | date }}</span>
    <span class="tag is-light is-medium">Target: {{ record.target}}</span>
    <span class="tag is-light is-medium">Actual: {{ record.actual }}</span>
    <span class="tag is-light is-medium" [class.is-danger]="record.variance > 5 || record.variance < -5"
          [class.is-primary]="record.variance >= 5 || record.variance >= -5">Variance: {{ record.variance }}</span>
  </div>
  <div class="edit-box">
    <button mat-icon-button aria-label="Edit" (click)="onEdit(record)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
