<!--suppress TypeScriptUnresolvedFunction -->
<div class="record-item">
  <div class="record-text">
    <span class="record-label"> {{record.id}} </span>
    <span class="tag is-light is-medium first-element">Date: {{ record.date | date }}</span>
    <span class="tag is-light is-medium">Target: {{ record.target}}</span>
    <span class="tag is-light is-medium">Actual: {{ record.actual }}</span>
    <span class="tag is-light is-medium" [class.is-danger]="variance === 'critical'"
          [class.is-success]="variance === 'positive'"
          [class.is-light]="variance === 'not critical'">Variance: {{ record.variance }}</span>
    <span class="tag is-light is-medium icon-text">
        <i *ngIf="variance === 'critical'" [ngStyle]="{'color': 'hsl(348, 100%, 61%)'}" class="arrowdown material-icons">arrow_downward</i>
        <i *ngIf="variance === 'positive'" [ngStyle]="{'color': 'hsl(141, 53%, 53%)', 'transform': 'rotate(180deg)'}" class="arrowup material-icons">arrow_downward</i>
        <i *ngIf="variance === 'not critical'" [ngStyle]="{'transform': 'rotate(-90deg)'}" class="arrowup material-icons">arrow_downward</i>
        {{record.variance}}
    </span>
  </div>
  <div class="edit-box">
    <span *ngIf="isNew" class="tag is-info is-medium">new!</span>
    <button mat-icon-button aria-label="Edit" (click)="onEdit(record)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
