<!--suppress TypeScriptUnresolvedFunction -->
<section class="heading-section">
  <h1 class="title is-1 has-text-centered">List of Records</h1>
</section>

<section class="section">
  <div class="container">

    <div class="records-list">

      <div class="record-item" *ngFor="let record of records">
        <div class="record-text">
          {{record.id}}
          <span class="tag is-light is-medium">{{ record.date | date }}</span>
          <span class="tag is-light is-medium">{{ record.target}}</span>
          <span class="tag is-light is-medium">{{ record.actual }}</span>
          <span class="tag is-light is-medium" [class.is-danger]="record.variance > 5 || record.variance < -5"
                [class.is-primary]="record.variance >= 5 || record.variance >= -5">{{ record.variance }}</span>
        </div>
        <div class="edit-box">
          <i class="material-icons">edit</i>
        </div>
      </div>

    </div>

  </div>
</section>
