<section class="heading-section">
  <h1 class="title is-1 has-text-centered">List of Records</h1>
</section>

<section class="section">
  <div class="container">

    <div class="records-list">
      <div class="record-item">
        <div class="record-text">
          MK76Y
          <span class="tag is-light is-medium">Date 5/26/2006</span>
          <span class="tag is-light is-medium">Target 42</span>
          <span class="tag is-light is-medium">Actual 33</span>
          <span class="tag is-danger is-light is-medium">Variance -9</span>
        </div>
        <div class="edit-box">
          <i class="material-icons">edit</i>
        </div>

      </div>
      <div class="record-item">
        <div class="record-text">
          NV140
          <span class="tag is-light is-medium">Date 5/28/2006</span>
          <span class="tag is-light is-medium">Target 42</span>
          <span class="tag is-light is-medium">Actual 33</span>
          <span class="tag is-danger is-light is-medium">Variance -9</span>
        </div>
        <div class="edit-box">
          <i class="material-icons">edit</i>
        </div>

      </div>
    </div>
  </div>
</section>
